<a href="https://colab.research.google.com/github/rushipanchal2/rushipanchal2/blob/main/Set_DataType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
String : Immutable, Ordered, Duplicates are allowed
List   : Mutable, Ordered, Duplicates are allowed
Tuple  : Immutable, Ordered, Duplicates are allowed
*******************************************************
Set    : Mutable, Unordered, Duplicates are not allowed

SyntaxError: ignored

## Set

In [ ]:
1. Mutable
2. Unordered
3. Duplicates are not allowed
4. Enclosed by { }
5. Indexing not applicable 
6. Can contain only integer, float, string and datatypes like list, tuple, set, dict, frozenset are not allowed

In [ ]:
set1 = {1,2,3,4,5}

type(set1)

set

In [ ]:
# Initiating the set
set2 = set()
type(set2)

set

In [ ]:
set3 = {}

type(set3)

dict

In [ ]:
set1 = {1,2,2,3,4,5,6,6,7,7,8,9,9,11,11,}

print(set1)   # Duplicates are not allowed

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [ ]:
## Unordered

set1 = {"Pune",1,"Kolkata",2,"Delhi","Mumbai",36,"Amarvati","Chennai","29","Ahmedabaad","Aurangabaad"}

print(set1)

{'29', 1, 2, 'Pune', 36, 'Aurangabaad', 'Mumbai', 'Amarvati', 'Chennai', 'Kolkata', 'Delhi', 'Ahmedabaad'}

In [ ]:
## Indexing Does Not Work

set1 = {"Pune",1,"Kolkata",2,"Delhi","Mumbai",36,"Amarvati","Chennai","29","Ahmedabaad","Aurangabaad"}

set1[4]

TypeError: 'set' object is not subscriptable

## Set Functions

In [ ]:
01. add()
02. update()
03. union()

04. remove()
05. discard()
06. pop()
07. clear()
08. del (Keyword)

09. intersection()
10. intersection_update()
11. difference()
12. difference_update()
13. symmetric_difference()
14. symmetric_difference_update()

15. issuperset()
16. issubset()
17. isdisjoint()
18. copy()

### 1. add()

In [ ]:
Used for adding an element to the set

In [ ]:
set1 = {1,2,3,4,"Python"}

print(set1)

set1.add("Data Science")

print(set1)

{1, 2, 3, 4, 'Python'}
{1, 2, 3, 4, 'Data Science', 'Python'}

In [ ]:
set2 = {"Delhi","Akola","Kolkata"}
print(set2)
set2.add("Distance")
print(set2)

{'Delhi', 'Kolkata', 'Akola'}
{'Distance', 'Delhi', 'Kolkata', 'Akola'}

### 2. update()

In [ ]:
set1 = {1,2,3,4}
set2 = {5,6,7,8}

set1.add(set2)

print(set1)

TypeError: unhashable type: 'set'

In [ ]:
set1.update(set2)

print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{8, 5, 6, 7}

In [ ]:
set1 = {"Delhi","Mumbai","Chennai"}

set2 = {"Nagpur","Satara","Sangli"}

set3 = set2.update(set1)

print(set2)
print(set1)
print(set3)

{'Delhi', 'Mumbai', 'Satara', 'Nagpur', 'Chennai', 'Sangli'}
{'Chennai', 'Mumbai', 'Delhi'}
None

### 3. union()

In [ ]:
set1 = {"Delhi","Mumbai","Chennai"}
set2 = {"Nagpur","Satara","Sangli"}

set3 = set1.union(set2)

print(set1)
print(set2)
print(set3)

{'Chennai', 'Mumbai', 'Delhi'}
{'Satara', 'Nagpur', 'Sangli'}
{'Satara', 'Delhi', 'Mumbai', 'Nagpur', 'Chennai', 'Sangli'}

In [ ]:
set1 = {"Delhi","Mumbai","Chennai","Nagpur","Kolkata","Patna","Agra"}
set2 = {"Nagpur","Satara","Sangli","Patna","Agra","Surat"}

set3 = set1.union(set2)

print(set1)
print(set2)
print(set3)

{'Kolkata', 'Delhi', 'Agra', 'Patna', 'Mumbai', 'Nagpur', 'Chennai'}
{'Patna', 'Agra', 'Surat', 'Satara', 'Nagpur', 'Sangli'}
{'Surat', 'Mumbai', 'Nagpur', 'Chennai', 'Kolkata', 'Delhi', 'Agra', 'Patna', 'Satara', 'Sangli'}

## Deleting the items from the set

In [ ]:
1. remove()
2. discard()
3. pop()
4. clear()
5. del

### 4. remove()

In [ ]:
set1 = {"Delhi","Mumbai","Chennai","Nagpur","Kolkata","Patna","Agra"}

set1.remove("Patna")

print(set1)

{'Kolkata', 'Delhi', 'Agra', 'Mumbai', 'Nagpur', 'Chennai'}

In [ ]:
set1.remove("Nagpur")
print(set1)

{'Kolkata', 'Delhi', 'Agra', 'Mumbai', 'Chennai'}

In [ ]:
set1.remove("DELHI")

print(set1)

KeyError: 'DELHI'

### 5. discard()

In [ ]:
set1 = {"Delhi","Mumbai","Chennai","Nagpur","Kolkata","Patna","Agra"}

set1.discard("Delhi")

print(set1)

{'Kolkata', 'Agra', 'Patna', 'Mumbai', 'Nagpur', 'Chennai'}

In [ ]:
set1.discard("Agra")
print(set1)

{'Kolkata', 'Patna', 'Mumbai', 'Nagpur', 'Chennai'}

In [ ]:
set1 = {"Delhi","Mumbai","Chennai","Nagpur","Kolkata","Patna","Agra"}

set1.discard("MUMBAI")

print(set1)

{'Kolkata', 'Delhi', 'Agra', 'Patna', 'Mumbai', 'Nagpur', 'Chennai'}

In [ ]:
set1.remove("Akola")
print(set1)

KeyError: 'Akola'

In [ ]:
set1.discard("Akola")
print(set1)

{'Kolkata', 'Delhi', 'Agra', 'Patna', 'Mumbai', 'Nagpur', 'Chennai'}

### 6. pop()

In [ ]:
## pops the item from the set randomly, and returns the popped item

In [ ]:
set1 = {"Delhi","Mumbai","Chennai","Nagpur","Kolkata","Patna","Agra"}

set1.pop()

'Kolkata'

In [ ]:
set1

{'Agra', 'Chennai', 'Delhi', 'Mumbai', 'Nagpur', 'Patna'}

In [ ]:
set1 = {"Delhi","Mumbai","Chennai","Nagpur","Kolkata","Patna","Agra"}

popped_item = set1.pop()

print(set1)
print(popped_item)

{'Delhi', 'Agra', 'Patna', 'Mumbai', 'Nagpur', 'Chennai'}
Kolkata

In [ ]:
popped_item = set1.pop()

print(set1)
print(popped_item)

{'Agra', 'Patna', 'Mumbai', 'Nagpur', 'Chennai'}
Delhi

In [ ]:
popped_item = set1.pop()

print(set1)
print(popped_item)

{'Patna', 'Mumbai', 'Nagpur', 'Chennai'}
Agra

### 7. clear()

In [ ]:
set1 = {"Artificial","Data","Python","Intelligence","Science","Computer","Language"}

set1.clear()
print(set1)

set()

### 8. del

In [ ]:
set1 = {"Artificial","Data","Python","Intelligence","Science","Computer","Language"}

del set1
print(set1)

NameError: name 'set1' is not defined

### Some More Set Functions

### 9. intersection()

In [ ]:
set1 = {"Phy","Chem","Bio","English","Math"}
set2 = {"Phy", "English", "Advanced Math","Python","Data Science"}

### Returns a set having elements comman in both set1 and set2

set3 = set1.intersection(set2)

print(set3)

{'Phy', 'English'}

In [ ]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,3,5,7,9,11,13}

set3 = set2.intersection(set1)

print(set3)

{1, 3, 5, 7, 9}

### 10. intersection_update()

In [ ]:
set1 = {"Phy","Chem","Bio","English","Math"}
set2 = {"Phy", "English", "Advanced Math","Python","Data Science"}

print("Before applying intersection_update")
print(f"Set1 : {set1}")
print(f"Set2 : {set2}")
print()
print('Applying intersection_update.....')
print()

set1.intersection_update(set2)

## This does not return anything, but updates the set on left (set1 here) 
## with the elements that are comman between set1 and set2
print("After applying intersection_update")
print(f"Set1:{set1}")
print(f"Set2 : {set2}")

Before applying intersection_update
Set1 : {'Phy', 'Bio', 'Math', 'English', 'Chem'}
Set2 : {'Phy', 'Advanced Math', 'Data Science', 'English', 'Python'}

Applying intersection_update.....

After applying intersection_update
Set1:{'Phy', 'English'}
Set2 : {'Phy', 'Advanced Math', 'Data Science', 'English', 'Python'}

In [ ]:
set1 = {"Phy","Chem","Bio","English","Math"}
set2 = {"Phy", "English", "Advanced Math","Python","Data Science"}

print("Before applying intersection_update")
print(f"Set1 : {set1}")
print(f"Set2 : {set2}")
print()
print('Applying intersection_update.....')
print()

set2.intersection_update(set1)

## This does not return anything, but updates the set on left (set2 here) 
## with the elements that are comman between set1 and set2
print("After applying intersection_update")
print(f"Set1:{set1}")
print(f"Set2 : {set2}")

Before applying intersection_update
Set1 : {'Phy', 'Bio', 'Math', 'English', 'Chem'}
Set2 : {'Phy', 'Advanced Math', 'Data Science', 'English', 'Python'}

Applying intersection_update.....

After applying intersection_update
Set1:{'Phy', 'Bio', 'Math', 'English', 'Chem'}
Set2 : {'Phy', 'English'}

### 11. difference()

In [ ]:
set1 = {"Phy","Chem","Bio","English","Math"}
set2 = {"Phy", "English", "Advanced Math","Python","Data Science"}

set3 = set1.difference(set2)

## Returns difference between two sets, but the elements from the left set only

print(set3)

{'Bio', 'Chem', 'Math'}

In [ ]:
set1 = {"Phy","Chem","Bio","English","Math"}
set2 = {"Phy", "English", "Advanced Math","Python","Data Science"}

set3 = set2.difference(set1)

## Returns difference between two sets, but the elements from the left set only

print(set3)

{'Advanced Math', 'Data Science', 'Python'}

### 12. difference_update()

In [ ]:
set1 = {"Phy","Chem","Bio","English","Math"}
set2 = {"Phy", "English", "Advanced Math","Python","Data Science"}

set1.difference_update(set2)

print(set1)

## This will not return anything, but updates the set on the left with the elements of 
## set on left, that are not present in the right set

{'Bio', 'Math', 'Chem'}

In [ ]:
set1 = {"Phy","Chem","Bio","English","Math"}
set2 = {"Phy", "English", "Advanced Math","Python","Data Science"}

set2.difference_update(set1)

print(set2)

## This will not return anything, but updates the set on the left with the elements of 
## set on left, that are not present in the right set

{'Advanced Math', 'Data Science', 'Python'}

In [ ]:
set1 = {2,3,4,5,6,7}
set2 = {5,6,7,8,10,11}
set3 = {3,4,5,6,7,8,9,100,300,400}

set1.difference_update(set2,set3)

print(set1)

{2}

In [ ]:
set1 = {2,3,4,5,6,7}
set2 = {5,6,7,8,10,11}
set3 = {3,4,5,6,7,8,9,100,300,400}
set2.difference_update(set1,set3)
print(set2)

{10, 11}

In [ ]:
set1 = {2,3,4,5,6,7}
set2 = {5,6,7,8,10,11}
set3 = {3,4,5,6,7,8,9,100,300,400}
set3.difference_update(set1,set2)
print(set3)

{9, 100, 300, 400}

### 13. symmetric_difference()

In [ ]:
set1 = {"Phy","Chem","Bio","English","Math"}
set2 = {"Phy", "English", "Advanced Math","Python","Data Science"}

## This will return elements that are not comman between both of the sets

set3 = set1.symmetric_difference(set2)

print(set3)

{'Advanced Math', 'Bio', 'Data Science', 'Math', 'Python', 'Chem'}

In [ ]:
set1 = {"Delhi","Mumbai","Chennai","Nagpur","Kolkata","Patna","Agra"}
set2 = {"Nagpur","Satara","Sangli","Patna","Agra","Surat"}

set3 = set1.symmetric_difference(set2)
print(set3)

{'Surat', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi', 'Satara', 'Sangli'}

In [ ]:
set1.intersection(set2)

{'Agra', 'Nagpur', 'Patna'}

### 14. symmetric_difference_update()

In [ ]:
set1 = {"Delhi","Mumbai","Chennai","Nagpur","Kolkata","Patna","Agra"}
set2 = {"Nagpur","Satara","Sangli","Patna","Agra","Surat"}

## This will not return anything, but it will update set won left with the elements that are not comman between both set

set1.symmetric_difference_update(set2)

print(set1)
print(set2)

{'Surat', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi', 'Satara', 'Sangli'}
{'Patna', 'Agra', 'Surat', 'Satara', 'Nagpur', 'Sangli'}

In [ ]:
set1 = {"Phy","Chem","Bio","English","Math"}
set2 = {"Phy", "English", "Advanced Math","Python","Data Science"}

set2.symmetric_difference_update(set1)

print(set1)
print(set2)

{'Phy', 'Bio', 'Math', 'English', 'Chem'}
{'Advanced Math', 'Bio', 'Data Science', 'Math', 'Python', 'Chem'}

## Remaining Functions

### 15. issuperset()

In [ ]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,2,3,4}

set1.issuperset(set2)

True

In [ ]:
set2.issuperset(set1)

False

### 16. issubset()

In [ ]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,2,3,4}

set1.issubset(set2)

False

In [ ]:
set2.issubset(set1)

True

#### Additional Example

In [ ]:
city_set = {"Delhi","Mumbai","Agra","Chennai","Aurangabaad","Nagpur","Kolkata"}
metro_cities = {"Delhi","Mumbai","Chennai","Kolkata"}

city_set.issubset(metro_cities)

False

In [ ]:
city_set.issuperset(metro_cities)

True

In [ ]:
metro_cities.issubset(city_set)

True

In [ ]:
set1 = {11,2,3,4,5,6,7,8,9}
set2 = {12,13,14}

set1.issuperset(set2)

False

In [ ]:
set1 = {11,2,3,4,5,6,7,8,9,12,13,14}
set2 = {11,2,3,4,5,6,7,8,12,13,14}

set1.issuperset(set2)

True

### 17. isdisjoint()

In [ ]:
set1 = {11,2,3,4,5,6,7,8,9,12,13,14}
set2 = {11,2,3,4,5,6,7,8,12,13,14}

set1.isdisjoint(set2)

False

In [ ]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {11,12,13,14}

set1.isdisjoint(set2)

True

In [ ]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {10,11,12,13,14}

set1.isdisjoint(set2)

False

### 18. copy()

In [ ]:
set1 = {1,2,3,4,5}

set2 = set1

print(f"Set1 :: {set1}  ID: {id(set1)}")
print(f"Set2 :: {set2}  ID: {id(set2)}")

Set1 :: {1, 2, 3, 4, 5}  ID: 1910344478368
Set2 :: {1, 2, 3, 4, 5}  ID: 1910344478368

In [ ]:
set1.add(100)

print(f"Set1 :: {set1}  ID: {id(set1)}")
print(f"Set2 :: {set2}  ID: {id(set2)}")

Set1 :: {1, 2, 3, 4, 5, 100}  ID: 1910344478368
Set2 :: {1, 2, 3, 4, 5, 100}  ID: 1910344478368

In [ ]:
## Using copy`
set1 = {1,2,3,4,5}

set2 = set1.copy()

print(f"Set1 :: {set1}  ID: {id(set1)}")
print(f"Set2 :: {set2}  ID: {id(set2)}")

Set1 :: {1, 2, 3, 4, 5}  ID: 1910344681056
Set2 :: {1, 2, 3, 4, 5}  ID: 1910342091040

In [ ]:
set1.add(100)

print(f"Set1 :: {set1}  ID: {id(set1)}")
print(f"Set2 :: {set2}  ID: {id(set2)}")

Set1 :: {1, 2, 3, 4, 5, 100}  ID: 1910344681056
Set2 :: {1, 2, 3, 4, 5}  ID: 1910342091040

In [ ]:
set1 = {1,2,3,4,[1,2,3]}
print(set1)

TypeError: unhashable type: 'list'

### Accessing Elements form set

In [ ]:
list1 = [1,2,33,33,44,2,3,4,5,6,66,6,7,8,4,5,6,7,8,9,3,4,5]

set1 = set(list1)

list(set1)

[1, 2, 3, 33, 4, 5, 6, 66, 7, 8, 9, 44]

In [ ]:
i = 10
j = 10

for i in range(10):
    for j in range(j):
        print(j,end = " ")
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [ ]:
## i = 0   >> ## j = 10 >> 0,1,2,3,4,5,6,7,8,9 >> j = 9
## i = 1   >> ## j = 9 >> 0,1,2,3,4,5,6,7,8    >> j = 8
## i = 2   >> ## j = 8 >> 0,1,2,3,4,5,6,7      >> j = 7